*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
}

body{
    background-color: rgb(167, 240, 132);
}
.wrap{
    background: rgba(253, 251, 251, 0.5);
    max-width: 924px;
    margin: 0 auto;
}
.page{
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}